<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Economy Game</title>
  <link rel="stylesheet" href="{{ url_for('static', filename="styles.css") }}">
</head>

<body>
  <div class="Grid1">
    
    <div class="Navegar">
      <div>
        <h1 style="float: left;">EconomyGame</h1>
      </div>
      <div>
        <a>{{coin}}$Bc</a>
        <a>{{coin}}In</a>
      </div>
    </div>
    
    <div class="Opcoes">
      <div>
        <button class="Button">Transação</button>
        <button class="Button">Mercado</button>
        <button class="Button">Trampo</button>
      </div>
      <div class="equip">
        <a>(⁠ ⁠╹⁠▽⁠╹⁠ ⁠)</a>
        <a>(⁠ ⁠╹⁠▽⁠╹⁠ ⁠)</a>
        <a>(⁠ ⁠╹⁠▽⁠╹⁠ ⁠)</a>
        <a>(⁠ ⁠╹⁠▽⁠╹⁠ ⁠)</a>
      </div>
      
    </div>
    
    <div class="inventory">
      <div>
        
      </div>
    </div>
  </div>
</body>

</html>
